In [2]:
#this is a comment
#understanding variables in python
x=5
y=3

In [3]:
print(x+y)

8

In [5]:
#Rules for declaring variables in python
#Rule 1: No white spaces should be used while declaring the varaible name
first name = 'rani'
print(first name)

SyntaxError: invalid syntax (<ipython-input-5-24f8e4ff36ad>, line 3)

In [7]:
first_name= 'rani'
print(first_name)

rani

In [9]:
firstname = 'rani'
print(firstname)

rani

In [10]:
#Rule 2: You should not start a var name with a number **
1name = 'rani'
print(1name)

SyntaxError: invalid syntax (<ipython-input-10-1618799d35ad>, line 2)

In [11]:
name1 = 'rani'
print(name1)

rani

In [13]:
#Rule 3: You should not use any special characters in the variable name Eg #,@,$,&
@name = 'rani'
print(@name)

SyntaxError: invalid syntax (<ipython-input-13-10d0d6e739de>, line 2)

In [ ]:
#Introduction to datatypes in python:
String -->str
integer --> int
list
tuples
Dictionary --> dict

In [ ]:
#Python is a case sensitive language
Classification of datatypes:
    Mutable datatypes(flexible)
    Immutable datatypes (fixed)

In [14]:
#Introduction to string datatype
#Definition: A string is nothing but a series  of characters

In [ ]:
Define a string in 3 possible ways
1. single quotes
2. Double quotes
3  triple quotes

In [15]:
name = 'rani'
print(name)

rani

In [17]:
name1 = "rani"
print(name1)

rani

In [20]:
name2 ="""rani"""
print(name2)

rani

In [21]:
#Introduction to built-in methods of a string
type(name)

str

In [22]:
type(name1)

str

In [23]:
type(name2)

str

In [24]:
full_name = 'rose rani'
print(full_name)

rose rani

In [28]:
full_name = 'rose rani'
print(full_name.title())  #title case

Rose Rani

In [29]:
print(full_name.upper())

ROSE RANI